.tours {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
  }
  &__title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 35.42px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 130px 0 85px;
  }

  .tour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 405px;
    height: 640px;
    border-radius: 17px;
    padding: 17px 17px 26px;
    background: rgba(255, 255, 255, 1);
    color: black;
    box-shadow: 0px 4px 17px 0px rgba(158, 158, 158, 0.25);

    &__img {
      width: 371px;
      height: 251px;
      border-radius: 8.86px;
    }
    &__title {
      display: flex;
      flex-direction: column;
      gap: 8.86px;
      &--destination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 34px;
        opacity: 0.8;
        display: flex;
        font-weight: 400;
        font-size: 27px;
        line-height: 100%;
        letter-spacing: 0%;

        .rating {
          display: flex;
          align-items: center;
          gap: 8.86px;
          img {
            width: 22px;
            height: 21px;
          }
        }
      }
      &--duration {
        opacity: 0.5;
        width: 150px;
        height: 23px;
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      opacity: 0.5;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 70px;
        gap: 8.86px;
        font-size: 15px;
        img {
          width: 26px;
          height: 26px;
        }
      }
    }
    &__features {
      display: flex;
      flex-direction: column;
      gap: 8.86px;
      opacity: 0.5;
      padding-left: 18px;
      li {
        width: 100%;
        list-style-type: disc;
      }
    }
    &__price {
      display: flex;
      align-items: center;
      height: 34px;
      padding-left: 20px;
      gap: 5px;
      &--desc {
        display: flex;
        align-self: flex-end;
        width: 100px;
        height: 17px;
        opacity: 0.5;
        font-size: 13.28px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      p {
        font-weight: 700;
        font-size: 26.57px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
  }
}

.skeleton {
  border-radius: 17px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 17px 0px rgba(158, 158, 158, 0.25);
}

.error-info {
  color: rgba(0, 0, 0, 0.8);
  margin: 170px auto 130px;
  width: 500px;
  text-align: center;

  h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 70px;
  }

  p {
    font-size: 20px;
  }
}

.fullTour {
  display: flex;
  flex-direction: column;
  width: calc(100% - 264px);
  margin: 50px 132px 0;
  height: 700px;
  justify-content: space-between;
  background: white;
  padding: 50px;
  backdrop-filter: blur(12px);
  border-radius: 17.71px;
  color: black;
  .tour--img {
    height: 325px;
    width: 525px;
    border-radius: 12px;
  }
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &--description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 600px;
      border-bottom: 1.11px solid rgb(0, 0, 0);
      .destination {
        font-weight: 500;
        font-size: 38px;
        text-align: center;
      }

      .main__info {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 25px;
        .city__date {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .date {
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }

        .rating {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 32px;
          gap: 10px;
        }
      }
      .days {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 40px;
        font-weight: 600;
        font-size: 22px;

        &__inner {
          display: flex;
          align-items: center;
          gap: 30px;
        }
      }
      .tourists {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 40px;
        font-weight: 600;
        font-size: 22px;
        &__inner {
          display: flex;
          align-items: center;
          gap: 30px;
        }
      }
    }
  }
  .tour__info {
    &--title {
      text-align: center;
      font-weight: 500;
      font-size: 25px;
      margin-bottom: 25px;
    }
    &--inner {
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 120px;
        gap: 8.86px;
        font-weight: 500;
        font-size: 18px;

        img {
          width: 34px;
          height: 34px;
          opacity: 0.8;
        }
        svg {
          filter: invert(90%);
          width: 38px;
          height: 38px;
        }
      }
    }
  }

  .tour__categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100px;
      gap: 8.86px;
      font-weight: 500;
      font-size: 22px;

      svg {
        filter: invert(100%);
        width: 38px;
        height: 38px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    font-display: row;
    height: 110px;
    .features {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8.86px;
      padding-left: 18px;
      font-weight: 500;
      font-size: 20px;
      width: 900px;
      li {
        display: flex;
        width: 270px;
        height: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        border-radius: 15px;
        box-shadow: 0px 4px 17px 0px rgba(158, 158, 158, 0.3);
        padding: 10px;
      }
    }
    .book {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      font-size: 17px;
      width: 275px;
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 70px;
        gap: 8.86px;
        border-radius: 35.42px;
        background: rgb(38, 89, 195);
        text-align: center;
        line-height: 100%;
        font-weight: 500;
        font-size: 17px;
        color: white;
        cursor: pointer;
      }
      &__info {
        display: flex;
        flex-direction: column;
      }
      .price {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 34px;
        gap: 5px;
        &__desc {
          display: flex;
          align-self: flex-end;
          width: 85px;
          height: 17px;
          opacity: 0.5;
          font-size: 13.28px;
          line-height: 100%;
          letter-spacing: 0%;
        }
        p {
          font-weight: 700;
          font-size: 26.57px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }
  }
}
